  header {
    display: flex;
    width: 90%;
    margin: auto;
    height: 10%;
    align-items: center;
    background-color: gold;
  }
  .logo-container, .nav-links, .login-logout {
    display: flex;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  .logo-container {
    flex: 1;
  }
  nav {
    flex: 2;
  }
  .nav-links {
    justify-content: space-around;
    list-style: none;
  }
  .nav-link {
    color: green;
    font-size: 18px;
    text-decoration: none;
  }
  .login-logout {
    flex: 1;
    justify-content: flex-end;
    margin-right: 10px;
  }
  .nav-link:hover {
    background-color: blanchedalmond;
    padding: 10px 15px;
    color: red;
  }