.new-message {
    /* display: flex; */
    width: 90%;
    margin: 0px auto;
    min-height: 80vh;
    align-items: center;
    background-color: aqua;
    padding-top: 20px;
    /* text-align: center; */
}